{% extends "templates/base.html" %}

{% block body_content %}
<div class="home-page">
    <div>
        <h3 class="question">
            What is SOPA?
        </h3>
        <p><span style="font-weight: bold">SOPA</span> stands for the "Stop Online Piracy Act".
        It's a bill introduced by Lamar Smith (R-TX) in the House of Representatives of
        the United States and is intended to help combat piracy.  While most people believe in the value of protecting
        content owners' rights and content, many are concerned that SOPA will do more harm than good and are concerned
        that, through unintended consequences, SOPA will enable widespread censorship.
    </div>
    <div>
        <h3 class="question">
            Where can I find more information about SOPA?
        </h3>
        <p>As usual, Wikipedia has an excellent summary
           <a href="http://en.wikipedia.org/wiki/Stop_Online_Piracy_Act">here</a>.

        <p>A PDF of Bill HR3261 is
           <a href="http://www.gpo.gov/fdsys/pkg/BILLS-112hr3261ih/pdf/BILLS-112hr3261ih.pdf">here</a>.

        <p><a href="http://http://wyden.senate.gov/">Senator Ron Wyden (D-OR)</a>
           strongly opposes the bill and issued the following
           <a href="http://wyden.senate.gov/newsroom/press/release/?id=cdb3104b-cd55-4d7f-825e-3bec95d944be">press release</a>.
    </div>

    <div>
        <h3 class="question">
            Who supports SOPA?
        </h3>
        <p>The House of Representatives has a list
           <a href="http://judiciary.house.gov/issues/Rogue%20Websites/List%20of%20SOPA%20Supporters.pdf">here</a>.
    </div>

    <div>
        <h3 class="question">
            What is SOPAJS?
        </h3>
        <p>SOPAJS is a project to build a small, easy-to-use bit of Javascript that website owners can add to their
        webistes to display bits of information about SOPA.
        <p>If you'd like to add SOPAJS to your website, please see instructions
           <a href="/use">here</a>.
    </div>
 </div>
{% endblock %}
